<!DOCTYPE html>
<%- include("../partials/head"); %>
<body>
<%- include("../partials/nav"); %>

<main>
	<p>Aqui é a página Sobre.</p>
</main>

<%- include("../partials/footer"); %>
</body>
</html>