<!DOCTYPE html>
<%- include("../partials/head", {navOn: "home"}); %>
<body>
<%- include("../partials/nav"); %>

<main>
	<section>
		<h1 class="title1">Bem-vindo ao meu primeiro site dinâmico</h1>
		<hr/>
		<p class="text">Esse site foi feito usando a engine EJS</p>
	</section>
</main>

<%- include("../partials/footer"); %>
</body>
</html>