<!DOCTYPE html>
<%- include("../partials/head"); %>
<body>
<%- include("../partials/nav"); %>

<main>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
	<p>Algum conteúdo para a página</p>
</main>

<%- include("../partials/footer"); %>
</body>
</html>