<!DOCTYPE html>
<%- include("../partials/head", {navOn: "perfil"}); %>
<body>
<%- include("../partials/nav"); %>

<main>
	<section>
		<h2 class="title2">Perfil</h2>
	</section>
</main>

<%- include("../partials/footer"); %>
</body>
</html>